# Build results
[Bb]in/
[Oo]bj/

# Visual Studio / Rider / VS Code
.vs/
.idea/
.vscode/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Dotnet tools
.dotnet/

# Logs
*.log

# OS
Thumbs.db
Desktop.ini

# Test results
TestResults/

# NuGet
*.nupkg
*.snupkg
**/packages/
**/project.lock.json
**/project.fragment.lock.json
artifacts/

# Resharper
_ReSharper*/
*.DotSettings.user

# dotenv
.env

